{% load static %}
{% if form %}
<div class="container">
  <form
              class="form-control"
              novalidate=""
            >
              {% csrf_token %} 
              {% for field in form %}
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label col-12"
                  >{{field.label}}</label
                >
                
                  {{field}}
                
                
              </div>
              {% endfor %} 
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Cerrar
                </button>
                <button
                  type="button"
                  
                  class="btn btn-primary"
                  data-bs-dismiss="modal"
                  id="liveToastBtn"
                  hx-post="{% url 'create_blog_comments'  %}" 
                  hx-target="#blogCommentsCreate" 
                  hx-trigger="click"
                >
                  Send
                </button>
              </div>

            </form>
</div>


{% endif %}